*.o
test_hh
test_pcm
test_pla
test_pams
driver
deps
Makefile.old
data/
output/
autom4te.cache
config.status
config.log
stamp-h
config.h
Makefile.in.old
*.pyc
*.fftw3
test_dct
data_proc/create_fe_data
data_proc/insert_mem_stats
data_proc/__pycache__
Makefile
